// Third-party Libraries
@import "vendor/bootstrap.min";
@import "vendor/select2.min";
@import "vendor/font-awesome.min";

// BC Gov required styles
@import "bcgov/main";

// Color variables and names
@import "colors.scss";

// JB's CSS reset
@import "reset.scss";

// Typography
@import "typography.scss";

// Our Grid
@import "grid.scss";

// Components
@import "components/about-this-website";
@import "components/arrows";
@import "components/buttons";
@import "components/directories";
@import "components/footer";
@import "components/glossary";
@import "components/header";
@import "components/images"; // Images and embeds
@import "components/sd-sub-nav";
@import "components/search-inputs";

// Chart/report specific styling
@import "charts/chart-legends";
@import "charts/charts-menu";
@import "charts/charts";
@import "charts/how-to-read-these-charts";

// Homepage specific styles
@import "homepage.scss";

// Breakpoints
@import "breakpoints/min-width-320px";
@import "breakpoints/min-width-605px";
@import "breakpoints/min-width-1005px";

/* Helper Classes */

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

/* Misc */

hr.chart-hr{
  height: 1px;
  background-color: #CCC;
}
