//varible overrides
$home-color: #002663;
$nav-color: #5091CD;
$footer-color:#1D438C;
$nav-bg: #fff;
$body-bg: #f7f7f9;
$font-color: #494949;
$cta-yellow: #FCBA19;
$btn-color: #38598a;
$tooltip-bg: #002663;
$tooltip-info-bg:rgba(255, 255, 255, 0.7);
$section-header:rgba(252,186,25, 0.5);
$err-color: #d8292f;


//Bootstrap sass files
@import"node_modules/bootstrap/scss/bootstrap";

html {
    scroll-behavior: smooth;

body {

  background-color: $body-bg;
  font-family: 'Lato', sans-serif;
  color: $font-color;

    background-image: url(../assets/img/bg-dcr.png), url(../assets/img/bg-dcr2.png), url(../assets/img/bg-dcr3.png);
    background-size:34% auto, 28% auto, 24% auto;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 8%, right 23%, left 92%;
    background-attachment: scroll, scroll, scroll;

  div:focus, button:focus {outline:none;}

  a,
  a:hover {
    text-decoration: none;
  }

  .nav-bg {
    background: $nav-bg;
  }

  .navbar {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);

    a {
      display: inline-block;
      position: relative;
    }

    .navbar-toggler {
      padding: 0;
    }

    .icon {
      width: 24px;
      height: 24px;
      position: relative;
      cursor: pointer;

      .line {
        position: absolute;
        left: 0;
        transform: transition(-15px);
        height: 2px;
        width: 100%;
        background: #ccc;
        border-radius: 2px;
        transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
      }

      .top {
        top: 18%;
      }

      .middle {
        top: 48%;
        width: 50%;
      }

      .bottom {
        top: 78%;
      }
    }

    .open .top {
      transform: rotate(45deg);
      top: 48%
    }

    .open .middle{
      display:none;
    }
    .open .middle,
    .open .bottom {
      transform: rotate(-45deg);
      top: 48%
    }


    .navbar-nav {

      .nav-link,
      .nav-link:hover {
        color: $nav-color;
      }

      a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #FCBA19;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      a:hover:after {
        width: 100%;
        left: 0;
      }
    }

    button {
      border: none;
    }


    .navbar-brand {
      color: $home-color;
      font-size: 1rem;
    }
  }

  /**********shared********/
  .section_header{
    background-size:100% 100%;
    span{
    background-image: linear-gradient(180deg,transparent 65%,$section-header 0);
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: 100% 100%;
    }
  }

  .ghostBtn{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid $btn-color;
    border-radius: 50px;
    background: #fff;
    color: $btn-color;
    cursor: pointer;
  }

  .ghostBtn:hover{
      color: #fff;
      background: $btn-color;
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.14), 0 9px 10px 0 rgba(0, 0, 0, 0.09);
      // transform: translateY(-0.025em);
      transition: .3s ease;
  }

  .flatBtn{
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid $btn-color;
    color: #fff;
    background: $btn-color;
    cursor: pointer;
  }

  .flatBtn:hover{
      color: #fff;
      border: 2px solid #00305d;
      background: #00305d;
      transition: .3s ease;
  }

  .ctaBtn {
    margin-top: 2rem;
    max-width: 180px;
    background: $cta-yellow;
    border-radius: 50px;
    padding: .5rem 2rem;
    color: $body-bg;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.07), 0 4px 5px 0 rgba(0, 0, 0, 0.05);
  }

  .ctaBtn:hover {
    color: $body-bg;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.14), 0 9px 10px 0 rgba(0, 0, 0, 0.09);
    transform: translateY(-0.025em);
    transition: .3s ease;
  }

  .track,
  .track-inset,
  .track-overlay {
    stroke-opacity: 0.3;
    stroke-linecap: round;
  }

  .track {
    stroke-opacity: 0.3;
    stroke-width: 10px;
  }

  .track-inset {
    stroke: #bbb;
    stroke-width: 8px;
  }

  .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: pointer;
  }

  .handle {
    fill: #38598a;
    stroke: #494949;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
    cursor: pointer;
  }

  .handle.active {
    fill: $home-color;
  }
  
  .ticks {
    fill: $font-color;
    font-size: 12px;
}

 .tt_container{
  position: absolute;
  z-index:10;
  top:2em;
  border-radius: 5px;
  width:10em;
  background: white;
  opacity: 0.9;
  pointer-events: inherit;
 }

 .tipHeader {
  color: white;
  padding: 5px;
  background: $tooltip-bg;
  font-style: italic;
  font-size: 16px;
  border-radius: 5px 5px 0 0;
}

.tipInfo {
  margin: 0.5em;
  color:$tooltip-bg;
  font-size:14px;
}

.radio {
  position: relative;
  padding-left: 1.5em;
  color:  $btn-color;
  cursor: pointer; 

  input{
    position: absolute;
    opacity: 0; 
  }

  .checkmark {
    position: absolute;
    top: 0.1em;
    left: 0;
    height: 20px;
    width: 20px;
    border: 3px solid $btn-color;
    border-radius: 50%;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ *  {
    color:$home-color;
    font-weight: bold;
  }

  input:checked ~ .checkmark{
    border: 3px solid $home-color;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
   top: 3px;
   left: 3px;
   width: .5em;
   height: .5em;
   border-radius: 50%;
   background: $home-color;
 }
}

.radio:hover {
  color: $home-color;
  .checkmark {
    border: 3px solid $home-color;
  }
}



/*********sections********/
  #overview::before, #inter-map::before, #graph::before, #facts::before {
    content:"";
    display:block;
    height:100px; /* fixed header height*/
    margin-top:-100px; /* negative fixed header height */
  }


  #intro {
    margin-top: 5rem;
    margin-bottom: 5rem;
    .intro_header{
      color:$home-color;
    }
  }

  #migration_overview {
    padding-top: 5rem;
    margin-bottom: 5rem;

  .intro {
    padding-top: 2rem;
  }
  #tipContainer{
    position: absolute;
    z-index:10;
    top:2em;
    border-radius: 5px;
    width:10em;
    background: white;
    opacity: 0.9;
    pointer-events: none;
  }

}

  .dcr-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
  }


  .bg-img {
    max-width: 400px;
    height: auto;
  }

  // Shared 
  .controlSection {
    margin-bottom: 2rem;
  }

  .dropDown {
    position: relative;
    background: white;
    width: 100%;
    padding: 12px 15px;
    border: 2px solid $btn-color;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.3s ease-out;
    

    .list{
      position: absolute;
      z-index:10;
      top: 100%;
      left: 0;
      right: 0;
      //style
      background: white;
      border-radius: 0 0 0.5em 0.5em;
      border: none;
      // hide
      list-style: none;
      transition: 0.3s ease-out;

      /* Hiding */
      display: none;
      max-height: 0;
      overflow: auto;
    }
  
    .list div {
      text-decoration: none;
      color: $font-color;
      padding: 12px 15px;
      transition: 0.3s ease-out;
      border: none;
    }
  
  /* Hover state */
  
    .list div:hover {
      color: $nav-color;
      background: $body-bg;
  } 


  .list::-webkit-scrollbar {
    width: .4rem;
  }
  
  /* Track */
  .list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: .1rem;
  }
   
  /* Handle */
  .list::-webkit-scrollbar-thumb {
    background: $btn-color; 
    border-radius: 10px;
  }
  }

  .dropDown.active {
    border-radius: 0.5em 0.5em  0 0;
    box-shadow: none;
    background:white;

    .list{
      display:block;
      border: 2px solid $btn-color;
      border-top: none;
      max-height: 150px;
      margin: 0 -2px;
    }

    .list div {
      border-top: 1px solid rgba(0,0,0,0.05);
    }

  } 

  .dropDown:hover{
    border: 2px solid $home-color;
    box-shadow: 0 2px 0 2px rgba(0,0,0,.04); 
  }


  .dropDown:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top:50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: $btn-color transparent;
}

  #aniContainer {

    #ani_control {
      align-items: center;
      justify-content: center;
  
       #ani_year {
         font-weight: bold;
         font-size: 1.6rem;
         vertical-align: middle;
       }
        
        #play-pause {
          width: 40px;
          height:40px;
      }
    
      .play {
          background: url(../assets/img/play&pause.png) 0 0;
          background-size: cover;
          cursor: pointer;
      }
    
      .pause {
          background: url(../assets/img/play&pause.png) 40px 0;
          background-size: cover;
          cursor: pointer;
      }    
    
  }
  
    .dist-main,
    .dist-lm,
    .dist-svi {
      stroke: #fff;
    }

    .tick {
      font-size: 10px;
      font-weight: 600;
    }

    .caption {
      fill: #494949;
    }

  }

  // interactive map 
  #inter-map {
    margin-bottom: 5rem;
   
    #mapContainer {
      position: relative;
    }

    #interactiveMap {

      max-width: 100%;
      height: 500px;
      z-index: 1; //leaftlet defualt z-index is 400, covers tooltip
      position: relative;

      svg {
        position: relative;

        .goingline {
          pointer-events: auto;
        }
      }
    }

    #distDropdown.active{
        .list{
          max-height: 240px;
        }
    }

    .flowBtn {
      margin-top: .5rem;
      margin-right: .5rem;
      padding: 0.25rem 0.5rem;
      width: 5rem;
      border: 2px solid $btn-color;
      border-radius: 50px;
      background: none;
      color: $btn-color;
      font-weight: medium;
      cursor: pointer;
    }

    .flowBtn:hover{
      color: #fff;
      background: $btn-color;
      transition: .3s ease;
    }

    .selected {
      color: #fff;
      background: $btn-color;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.07), 0 4px 5px 0 rgba(0, 0, 0, 0.05);
    }

    /* #maincontainer {
            display:flex;
        } */

    .leaflet-pane{
      z-index: 0;
    }

    #tlTip {
      pointer-events: none;
      color: white;
      position: absolute;
    }

    #tipDiv {
      font-size: 16px;
      border-radius: 3px;
      width: 180px;
      z-index: 100;
      background-repeat: no-repeat;
      text-align: left;
      line-height: 20px;

    }

    #tipLoc {
      font-weight: normal;
      font-style: Italic;
      color: white;
      margin: 0px;
      padding: 10px 10px;
      background: $tooltip-bg;
      font-size: 14px;
      border-radius: 3px 3px 0 0;
    }


    #tipInfo {
      font-weight: normal;
      font-size: 12px;
      color: $font-color;
      margin: 0px;
      padding: 5px 0px 5px 10px;
      background: $tooltip-info-bg;
      border-radius: 0 0 3px 3px;
    }

    #tlTip2 {
      pointer-events: none;
      color: white;
    }

    #tipDiv2 {
      font-size: 16px;
      position: absolute;
      width: 250px;
      z-index: 100;
      background-repeat: no-repeat;
      text-align: left;
      line-height: 20px;
    }

    #tipLoc2 {
      font-weight: normal;
      font-style: Italic;
      color: white;
      margin: 0px;
      padding: 10px 10px;
      background: $tooltip-bg;
      font-size: 14px;
      border-radius: 3px 3px 0 0;
    }

    // #tipCount2 {
    //   font-weight: bold;
    //   font-size: 32px;
    //   letter-spacing: -1px;
    //   margin: 0px;
    //   padding: 0px 10px 10px 10px;
    //   color: red;
    // }

    #tipInfo2 {
      font-weight: normal;
      font-size: 10px;
      color: $font-color;
      margin: 0px;
      padding: 5px 0px 5px 10px;
      background: $tooltip-info-bg;
      border-radius: 0 0 3px 3px;
    }

    .tipClear {
      clear: both;
    }
  }

  // interactive bar+line graph
  #enrolment_model {
    margin-bottom: 5rem;
    padding-top: 5rem;

      #predictors-distDropdown.active{
        .list{
          max-height: 240px;
        }
    }

    

    #lineContainer {
      display: inline-block;
      position: relative;
      width: 100%;
      vertical-align: top;
      overflow: hidden;

      .svg-content {

        .legend {
          font-size: 9px;
      }

        .bar {
            stroke: none;
        }

        .bar:hover {
            fill: rgba(0, 38, 99, 0.7) !important;
        }

        .label {
            fill: white;
            font-weight: 400;
            text-anchor: middle;
        }

        .line {
          fill: none;
          stroke: $home-color;
          stroke-width: 3;
        }

        .dot {
          fill: $home-color;
          stroke: #fff;
        }
      }

      //hide axis line
      .yAxis, .yAxis2, .xAxis {
        .domain {
          display: none;
        }
        stroke-width: 0;
      }

      #zero-line {
        fill: none;
        stroke: #ccc;
        stroke-width: 1;
    }


      #line_tt {
        background: $tooltip-info-bg;
        padding: 10px 10px;
        border-radius: 3px;
        color: $font-color;
      }
    }

/* slider ------------------------------ */

.ticks {
  font-size: 12px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #bbb;
  stroke-width: 10px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.sel-range{
  stroke: #5091CD;
  stroke-width: 8px;
}

.handle {
  fill: #38598a;
  stroke: #494949;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
  cursor: pointer;
}

.handle.active {
  fill: #002663;
}


  }

  //demographics 
  #demographics{
    padding-top: 5rem;

    #demoContainer{

      .demo_line {
        stroke-linecap: round;
      }
     
       .xAxis {
        .domain {
          display: none;
        }
        stroke-width: 0;
    }
      .yAxis {
        .domain{
          display: none;
        }
        line{
          display:none;
        }
        .gridline{
          display: inline-block;
          stroke: #ccc;
          shape-rendering: crispEdges;
          stroke-opacity: .5;
          }
      }



        .demo_overlay {
          fill: none;
          pointer-events: all;
          cursor: pointer;
        }
      
        .demott_line {
          stroke: $tooltip-bg;
          stroke-dasharray: 2,5;
          stroke-width: 2;
          opacity: 0.5;
      } 

        .demott_rect {
          position: absolute;
          z-index:10;
          top:2em;
          border-radius: 5px;
          width:8em;
          background: white;
          opacity: 0.9;
          pointer-events: none;

          .tipHeader {
            color: white;
            padding: 5px;
            background: $tooltip-bg;
            font-weight: bold;
            font-style: italic;
            font-size: 12px;
            border-radius: 5px 5px 0 0;
          }

          .tipInfo {
            margin-left: 5px;
            color:$tooltip-bg;
            font-size:10px;
            .tipNum{
              color:$font-color;
            }
          }
      }
    
  }

  #demographics-control{
    #demo-radio{
      display:flex;
      flex-direction:column;
    }
    .modal-body{
      display: grid;
      grid-template-columns: repeat(4, 1.2fr);
      grid-gap: 10px;
      font-size: 12px;
    .checkbox{

      span{
        vertical-align: middle;
        margin-left: 0.3em;
        cursor: pointer;
      }
      .demo_checkbox{
          -webkit-appearance: none;
          border: 2px solid #ccc;
          padding: 6px;
          border-radius: 3px;
          box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
          display: inline-block;
          position: relative;
          vertical-align: middle;
          cursor: pointer;
      }

      .demo_checkbox:hover, .demo_checkbox:checked{
        border: 2px solid $tooltip-bg;
      }

      .demo_checkbox:checked ~ * {
        color: $tooltip-bg;
      }

      .demo_checkbox:checked:after{
        content: '';
        position: absolute;
        left: 4px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid $home-color;
        border-radius: 5px;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
     }
    }
      #demoModal_msg{
        margin-right: auto;
    }
  }
}

//public independent transition
#transition{
  padding-top: 5rem;
  margin-bottom: 5rem;

  #trans_control{
    display: flex;
    h6{
      font-weight: bold;
      margin: 0;
      padding: 1em 0 0 1em;
    }

  #trans_slider {
    fill: $font-color;
    font-size: 12px;
    padding: 0;
    }
  }
  
  #trans_radio {
    display: flex;
    justify-content: space-around;
  }
  
  #graph_container {
    display: flex;
    flex-wrap: wrap;
    #trans_rate{
      max-width: 200px;
      background: url(../assets/img/trans_icon.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: relative;
      #pub_to_ind{
        color:#4EBDEB;
        font-weight: bold;
      }
       #ind_to_pub {
        position: absolute;
        left:0;
        right:0;
        bottom: 0;
        color:#D42D75;
        font-weight: bold;
      }
    }
  }

  #transition_container {
    .trans_bar {
      fill: $tooltip-bg;
      cursor: pointer;
    }

    .label{
      text-anchor: middle;
      fill: white;
    }

    .yAxis, .xAxis {
      .domain {
        display: none;
      }
      stroke-width: 0;
      color:$font-color;
    }

    .xAxis {
      font-weight: bold;
    }

    #trans_tt{
      .trans_link{
        margin:0.5em;
        .ssLink{
        font-size: 14px;
        line-height: 0.1em;
      }
    }
    }
  }
}

//retention
#retention {
  padding-top: 5rem;
  margin-bottom: 5rem;

#retention_control{
  .controlSelection {
    margin-bottom: 0;
  }
  #retention_distDropdown.active{
    .list{
      max-height: 240px;
    }
  }
  .legendContainer {
    max-height:100px;
  }
}
#retention_container {
   position: relative;

  .prov_retention_line{
    stroke-linecap: round;
    stroke:$tooltip-bg;
  }
  .dist_retention_line{
    stroke-linecap: round;
    stroke:$cta-yellow;
  }
  .xAxis, .yAxis_prov{
    .domain {
      display: none;
    }
    stroke-width: 0;
}
.yAxis_dist {
  .domain{
    display: none;
  }
  line{
    display:none;
  }
  .gridline{
    display: inline-block;
    stroke: #ccc;
    shape-rendering: crispEdges;
    stroke-opacity: .5;
    }
}

    .retention_overlay {
      fill: none;
      pointer-events: all;
      cursor: pointer;
    }
  
    .retentiontt_line {
      stroke: $tooltip-bg;
      stroke-dasharray: 2,5;
      stroke-width: 2;
      opacity: 0.5;
  } 

    .retentiontt_rect {
      position: absolute;
      z-index:10;
      top:8em;
      border-radius: 5px;
      width:8em;
      background: white;
      opacity: 0.9;
      pointer-events: none;

      .tipHeader {
        color: white;
        padding: 5px;
        background: $tooltip-bg;
        font-weight: bold;
        font-style: italic;
        font-size: 12px;
        border-radius: 5px 5px 0 0;
      }

      .tipInfo {
        margin-left: 5px;
        color:$tooltip-bg;
        font-size:10px;
        .tipNum{
          color:$font-color;
        }
      }
  }
  }
}
  //booklet
  #booklet {


    }
  }

  .footer-img{
    display: block;
    width: calc(100%) !important;
    height:auto;
  }

  footer {
    background-color: $footer-color;
    color: white;

    a,
    a:hover {
      text-decoration: none;
      color: white;
    }

    .container{
      display: flex;

    #footer-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      
    .bc_logo {
      max-width: 120px;
      height: auto;
    }

      p.copyright {
        display: inline-block;
        font-size: 10px;
      }
    }

  }

  }
}
}