# Laravel stuff
Homestead.yaml
Homestead.json
laravel.log

# Cache
/www/storage
# Cache files and log files are also stored in /data/* Those directories there have thier own .gitignore files.

# Composer
/php-bin/vendor

# Node for front-end tooling
/node_modules

# DB credentials and other important things we don't want in source control.
.env.*
!.env.example
.env
sftp-config.json

# Compiled CSS
#style.css
#style.css.map
/.sass-cache

# Compiled JS
bundle.js

# All PDFs
*.pdf

# Backups
*.bak

# MS Office tmp files
workfiles/~*
