ul.directory-wrapper {
  display: block;
}

ul.directory_alpha_menu {
  display: -webkit-flex;
  display: flex;
  min-height: 3rem;
  font-size: 2.5rem;
  margin: 2rem 0;

  .letter-selection {
    -webkit-flex: 1;
    flex: 1;
    border-left: 4px dotted darken($ministry_grey, 20%);
 
    &:first-of-type {
      border-left: 0;
    }

    a {

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.view-report {
  float: right;

  // &:after {
  //   content:" \00BB"; 
  // }
}

.view_report_lable {
  text-align: right;
  @media screen and (max-width: $tablet) {
    display: none;
  }

  a:after {
    content:" \00BB";
  }
}

.school-count {
  float: right;
}

.directory-letter-section {
  display: block;

  .directory.letter {
    border-bottom: 3px solid $aqua;
    font-weight: bold; 
    padding-top: 0.5rem;
    display: block;
  }

  ul {
    margin-bottom: 2rem;

    li {
      padding: 1rem 0;
      border-bottom: 1px solid $aqua;

      a:hover {
        text-decoration: underline;
      }
    }
  }

}

// Clean this up later.. These rules could be added/mixed with the above.
.directory-numeric-section {
  padding: 1rem 0;
  border-bottom: 1px solid $aqua;

  &:last-of-type {
    border-bottom: 0;
  }

  &:first-of-type {
    padding-top: 4rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: $tablet) { // Resets.

  ul.directory_alpha_menu { 
    font-size: 2rem;  
    margin-bottom: 0;

    .letter-selection {
      border-left: 0;
    }
  }

}

@media screen and (max-width: $desktop) {

  .view-report,
  .school-count {
    display: none;
  }

}

// Directory Tables (used on Cities results page)
.directory-results-table {
  width: 100%;
  font-size: 1.5rem;

  a:hover {
    text-decoration: underline;
  }

  tr {
    border-bottom: 1px solid $aqua;

    &:first-of-type {
      border-bottom: 3px solid $aqua;
    }

    th {
      text-align: left; // reset
      padding: 1rem 0;
    }

    td {
      padding: 1rem 0;
    }
  }

  .school-name {

    @media screen and (min-width: $desktop) {
      width: 50%;
    }
  }
  .school-grade-range {

    @media screen and (min-width: $desktop) {
      width: 25%;
    }
  }
  .school-address {

    @media screen and (min-width: $desktop) {
      //
    }
  }
}

h3.directory-table-heading {
  margin-top: 4rem;
  margin-bottom: 0;
}
