/* Learn More Component Styles */

.learn-more-section {
    padding-top: 40px;
    padding-bottom: 60px;
}

/* Specific text highlight used in section titles */
.title-highlight {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.title-highlight::after {
    content: "";
    position: absolute;
    bottom: 0.1em;
    left: -5%;
    width: 110%;
    height: 0.4em;
    background-color: #d1f4f4; /* Subtle cyan */
    z-index: -1;
}
