
 #hero {
  padding-bottom: 6rem;
  background: url("../img/header_image.png") repeat !important;
}

.dark-blue{
	color: #036;
}

.body-color{
	color: #494949;
}

.tp {
	padding-top: 20px;
}

.mt {
	margin-top: 20px;
}

.no-bullet{
	list-style-type:none;
}

.btn.btn-primary {
	background-color: #036;
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

.report-icon {
	z-index: -1;
   width:auto;
   height: 223px;
}

.bottom-left {
   position: absolute;
   top: 150px;
   left: 10px;
   width: 100%;
   color: white;
}
.main-title {
  height: auto;
  width: 70% !important;
  padding-top: 59px;
  left: -33px;
  position: relative;
}

h3.ministry-blue.slide-title {
   font-size: 3rem;
}

li.toc-chart.sd-chart {
   width: 18%;
}

@media only screen and (max-width: 1029px) {
   li.toc-chart.sd-chart {
      width: 23%;
   }
 }

 @media only screen and (max-width: 604px) {
   li.toc-chart.sd-chart {
      width: 100%;
   }
 }

 #about a.btn.btn-primary.btn-lg {
   font-weight: lighter;
   font-size: 15px;
   padding: 9px 18px;
   border-radius: 0px;
}

.frontPage-charts{
   margin-left:27%;
}

@media only screen and (min-width: 992px) {
   .frontPage-radio{
      width: 23%;
   }
 }
 @media only screen and (max-width: 992px) {
   .frontPage-charts {
      margin-left: 0px !important;
   }
   .mid-sec-bk {
      background-image: none !important;
   }
}
@media only screen and (max-width: 1029px) {
   .r-n-a-panel {
      margin-left: 3rem;
      width: 80% !important;
   }
}
@media only screen and (max-width: 320px){
   #main-search {
    display: block;
    margin: auto;
    width: 61% ;
   }
}
 #about .frontPage-radio li {
   padding-bottom: 10px;
}

#about a.btn.btn-primary.btn-lg.top-button.data-bc-button {
   padding-right: 37px;
}
.top-button{
   margin-right: 23px;
}

a.btn.btn-primary.btn-lg.get-in-touch {
   margin-top: 21px;
}

.gov-head{
   text-align: left;
}

.more-reports {
   margin-top: 20px;
}
.form-control.report-select{
   height: 40px;
}

.panel>.panel-heading {
   padding: 0px;
}
.r-n-a-panel {
   margin-left: 3rem;
   width: 30%
}

.panel-body-title {
   font-weight: bold;
   font-size: 1.5rem;
   margin-bottom: 0px;
}

.panel-body {
   height: 100px !important;
}

.reporting-page {
   margin-bottom: 8rem;
}

section#about {
   padding-top: 0px !important;
   margin-top: -20px !important;
}

.tablet-image{
   width: auto;
   height: 330px;

}

#about a.btn.btn-primary.btn-lg {
   border: none;
}
.btn-lg, .btn-group-lg>.btn {
   border: none !important;
}

#frameId-5 {
   height: 347px; }

 #frameId-6 {
   height: 327px; }

.tab-toolbar.public.tab-fill.tab-widget {
  display: none;
}

 @media only screen and (min-width: 320px) {
   #frameId-6 {
     height: 327px; } }
 @media only screen and (min-width: 605px) {
   #frameId-6 {
     height: 327px; } }
 @media only screen and (min-width: 1030px) {
   #frameId-6 {
     height: 527px; } }
 #frameId-7 {
   height: 227px; }

 @media only screen and (min-width: 320px) {
   #frameId-7 {
     height: 227px; } }
 @media only screen and (min-width: 605px) {
   #frameId-7 {
     height: 277px; } }
 @media only screen and (min-width: 1030px) {
   #frameId-7 {
     height: 277px; } }
 #frameId-8 {
   height: 477px; }

 @media only screen and (min-width: 320px) {
   #frameId-8 {
     height: 477px; } }
 @media only screen and (min-width: 605px) {
   #frameId-8 {
     height: 377px; } }
 @media only screen and (min-width: 1030px) {
   #frameId-8 {
     height: 477px; } }
 #frameId-91 {
   height: 227px; }

 #frameId-92,
 #frameId-93 {
   height: 227px; }

 @media only screen and (min-width: 320px) {
   #frameId-92,
   #frameId-93 {
     height: 227px; } }
 @media only screen and (min-width: 605px) {
   #frameId-92,
   #frameId-93 {
     height: 327px; } }
 @media only screen and (min-width: 1030px) {
   #frameId-92,
   #frameId-93 {
     height: 427px; } }
 #frameId-101,
 #frameId-101b {
   height: 727px; }

 #frameId-101-school,
 #frameId-101b-school {
   height: 377px; }

 #frameId-102,
 #frameId-103,
 #frameId-104 {
   height: 427px; }

 @media only screen and (min-width: 320px) {
   #frameId-102,
   #frameId-103,
   #frameId-104 {
     height: 427px; } }
 @media only screen and (min-width: 605px) {
   #frameId-101,
   #frameId-101b {
     height: 827px; }

   #frameId-101-school,
   #frameId-101b-school {
     height: 427px; }

   #frameId-102,
   #frameId-103,
   #frameId-104 {
     height: 327px; } }
 @media only screen and (min-width: 1030px) {
   #frameId-101,
   #frameId-101b {
     height: 827px; }

   #frameId-102,
   #frameId-103,
   #frameId-104 {
     height: 427px; } }
 #frameId-11 {
   height: 527px; }

 #frameId-12 {
   height: 527px; }

 @media only screen and (min-width: 320px) {
   #frameId-12 {
     height: 527px; } }
 @media only screen and (min-width: 605px) {
   #frameId-12 {
     height: 527px; } }
 @media only screen and (min-width: 1030px) {
   #frameId-12 {
     height: 427px; } }
 #frameId-13 {
   height: 827px; }

 @media only screen and (min-width: 320px) {
   #frameId-13 {
     height: 827px; } }
 @media only screen and (min-width: 605px) {
   #frameId-13 {
     height: 827px; } }
 @media only screen and (min-width: 1030px) {
   #frameId-13 {
     height: 727px; } }
 #frameId-14 {
   height: 427px; }

 #frameId-15 {
   height: 1077px; }

 @media only screen and (min-width: 320px) {
   #frameId-15 {
     height: 627px; } }
 @media only screen and (min-width: 605px) {
   #frameId-15 {
     height: 627px; } }
 @media only screen and (min-width: 1030px) {
   #frameId-15 {
     height: 1077px; } }
  @media only screen and (max-width: 1625px) and (min-width: 1449px) {
    .frontPage-charts {
      margin-left: 17%;
    }
  }
  @media only screen and (max-width: 1449px) and (min-width: 320px) {
    .frontPage-charts {
      margin-left: 1%;
    }
  }

/* For Vega Charts */
/* Mobile */
@media (max-width: 576px) {
  .desktop {
    display:none !important;
  }
  .tablet {
    display: none !important;
  }
  .mobile {
    display:block !important;
  }
  .restrain{
    margin:10px !important;
  }
}
/* Tablets */
@media (min-width: 576px) and (max-width: 1027px){
  .desktop {
    display:none !important;
  }
  .tablet {
    display: block !important;
  }
  .mobile {
    display:none !important;
  }
}
/* Desktop */
@media only screen and (min-width: 1028px) {
  .desktop {
    display:block !important;
  }
  .tablet {
    display: none !important;
  }
  .mobile {
    display:none !important;
  }
}

table th {
  text-align: left !important;
}
.ahawd-table th{
  text-align: left !important;
}